**.pyc
**.ipynb_checkpoints
**/test
**.wav
**.out
**__pycache__
**.png
!app/interpolate_two/banner.png
**ckpt*
**.jpg
**.jpeg
!images/*.jpg
**/utils/lspace-vis-bhtsne
**/class
**/functional/cdcgan
**/functional/cgan
**/functional/cqtgan
**/functional/cvae
**cdr*.out


